/UniversityControllerTest.class
/UniversityDBControllerTest.class
/UserTest.class
/AccountDBControllerTest.class
/testAccount.class
/testLoginController.class
/testUniversityController.class
/testUserFuncController.class
/UserUITest.class
/FunctionalitiesTest.class
/AccountControllerTest.class
